

h1{
	font-weight: bold;
	text-align: left;
  
}

p1{
	text-align: center;

	
}






body{
	background-image: linear-gradient(
		to bottom,
white 0%,
white 50%,
black 50%,
black 100%,


)
	height :100vh;
}

#hp  {
float: left;    
 margin: 10px auto;
}
img{
	float: left;
	padding-left: 10px;padding-right: 20px;
}
text{
	align-content: right;
}

ul{
	align-content: right;
}






	ul {
  float: left;
}

 
ul > li {
  width: 30em;
}