* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
    background: #f1f1f1;
    z-index: 9;
}

.nav {
    padding: 1px 10vw;
    display: flex;
    justify-content: space-between;
}

.web-logo {
    height: 90px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.search {
    width: 500px;
    display: flex;
}

.search-box {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.search-btn {
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.search-box::placeholder {
    color: #a9a9a9;
}

.nav-items a {
    margin-left: 20px;
}

.nav-items a img {
    width: 30px;
}

.cart {
    width: 35px;
}

.links-container {
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

.link {
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 1;
    transition: .5s;
}

.link:hover {
    opacity: 1;
}

@import 'nav.css';
.hero-section {
    width: 100%;
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=80");
    background-size: cover;
    background: rgba(0, 0, 0, 0, 4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .logo {
    height: 100px;
    display: block;
    margin: auto;
}

.hero-section .sub-heading {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}


/* Header/Blog Title */

.header {
    padding: 5px;
    text-align: left;
    background: white;
}

.header h1 {
    font-size: 50px;
}


/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: #1D570E;
    font-family: Itim, cursive;
}


/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}


/* Change color on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/*/* Create two unequal columns that floats next to each other */


/* Left column */

.leftcolumn {
    float: left;
    width: 75%;
}


/* Right column */

.rightcolumn {
    float: left;
    width: 100%;
    background-color: #f1f1f1;
    padding-left: 10px;
}

.rightcolumnheader {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.wrapper {
    width: 100%;
    min-height: 50vh;
    overflow: hidden;
}

.row {
    width: 100%;
    padding: 25px 50px;
}


/* Paragraph Image */

.image-section {
    width: 40%;
    float: left;
}

.image-section img {
    width: 100%;
    height: auto;
    margin-left: 25px;
}


/*Content*/

.content {
    width: 50%;
    float: left;
    margin-Left: 110px;
}

.content h2 {
    font-size: 40px;
    font-family: Helvetica;
    color: darkolivegreen;
    margin: top 0px;
}

.text {
    font-size: 20px;
    font-family: apple-system;
    margin-top: 10px;
    line-height: 1.5;
    text-align: justify;
}


/*More Text*/

.moreText {
    display: none;
    font-family: apple-system;
}

.read-more-btn {
    padding: 8px 20px;
    background-color: darkolivegreen;
    color: rgb(7, 7, 7);
    border: none;
    outline: #2A2A2A;
    font-size: 20px;
    cursor: pointer;
}

.text.show-more .moreText {
    display: inline;
}

.back {
    background: url(https://i.pinimg.com/originals/08/bb/9a/08bb9a3b2b090704dd8cef02f4d15834.jpg);
    background: cover;
    background: rgba(0, 0, 0, 0, 4);
    display: flow-root;
    justify-content: center;
    align-items: center;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: auto;
}

form {
    max-width: 500px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    display: block;
    justify-content: top;
    color: black;
    margin: 0vh auto 0 auto;
    padding: 40px 90px;
    border: none;
    border-radius: 3px;
    transform: translate(-50%-50%);
    height: fit-content;
}

h1 {
    font-family: 'Lobster', cursive;
    margin: 0;
    text-align: center;
    color: white;
    font-size: xx-large;
    margin-bottom: 50PX;
}

input,
textarea {
    width: 100%;
    padding: 04px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px dotted#fff;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.10);
    font-weight: bold;
}

input[type="text"]:focus,
textarea:focus {
    border-bottom: 1px solid white;
}

textarea::-webkit-scrollbar {
    width: 1px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(17, 16, 16, 0.8);
}

.center {
    text-align: center;
}

input[type="submit"] {
    margin-top: 50px;
    padding: -50px;
    width: 100%;
    background: rgb(137, 196, 137);
    opacity: 0.7;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background: rgb(105, 190, 105);
}

#error_message {
    margin-bottom: 20px;
    background: #8eb877;
    color: red;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}

.error-border {
    border-bottom: 1px solid red;
}

#success {
    color: #28A745;
}


/*Vounteer Opportunities  part*/

.volunHeading {
    font-family: 'Franklin Gothic Medium', cursive;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
}

.vounteeroppo {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    padding-left: 60px;
}

.volunOpponame p {
    display: flex;
    background: darkgrey;
    margin: 60px;
    margin-bottom: 50px;
    width: 300px;
    text-align: center;
    width: auto;
    justify-content: flex-end;
    padding: 20px;
    line-height: 20px;
    color: black;
    position: relative;
}

.iconimg {
    width: 100 px;
    height: 100px;
    border-radius: 50%;
}

.iconimg img {
    width: 100px;
    height: 100px;
}

.volunHeading1 {
    font-family: 'Franklin Gothic Medium', cursive;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.vounteeroppo1 {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    padding-right: 0px;
    padding-left: 30px;
}

.volunOpponame1 p {
    display: flex;
    background: darkgrey;
    margin: 60px;
    margin-bottom: 50px;
    width: 300px;
    text-align: center;
    width: auto;
    justify-content: flex-end;
    padding: 20px;
    line-height: 20px;
    color: black;
    position: relative;
}

.iconimg1 {
    width: 100 px;
    height: 100px;
    border-radius: 50%;
}

.iconimg1 img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 768px) {
    .image-section {
        width: 100%;
        float: none;
    }
    .content {
        width: 100%;
        float: none;
        margin-Left: 0px;
    }
}


/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.footer-clean {
    padding: 50px 0;
    background-color: #2A2A2A;
    color: #FFFFFF;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

p {
    font-family: 'Itim', cursive;
    font-family: 'Redressed', cursive;
}