* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Header/Blog Title */

.header {
    padding: 5px;
    text-align: left;
    background: white;
}

.header h1 {
    font-size: 50px;
}


/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: #1D570E;
    font-family: Itim, cursive;
}


/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}


/* Change color on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/*/* Create two unequal columns that floats next to each other */


/* Left column */

.leftcolumn {
    float: left;
    width: 75%;
}


/* Right column */

.rightcolumn {
    float: left;
    width: 100%;
    background-color: #f1f1f1;
    padding-left: 10px;
}

.rightcolumnheader {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.image {
    width: 100%;
    padding: 20px 0px;
}

.heading h1 {
    font-size: 50px;
    letter-spacing: 3.5px;
    margin-top: 10px;
    color: #222;
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    min-height: 50vh;
    overflow: hidden;
}

.row {
    width: 100%;
    padding: 25px 50px;
}

.image-section {
    width: 40%;
    float: left;
}

.image-section img {
    width: 100%;
    height: auto;
}


/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.footer-clean {
    padding: 50px 0;
    background-color: #2A2A2A;
    color: #FFFFFF;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

p {
    font-family: 'Itim', cursive;
    font-family: 'Redressed', cursive;
}